@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* .container{
  color: white;
  display: inline-block;
}
.typed-out{
  overflow: hidden;
  line-height: 90px;
  border-right: .15em solid rgb(24, 187, 237);
  white-space: nowrap;
  animation: 
    typing 2s forwards;
  font-size: 60px;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 69% }
} */
/* .container {
  color: white;
  display: inline-block;
}

.typed-out {
  overflow: hidden;
  line-height: 90px;
  border-right: .15em solid transparent; 
  white-space: nowrap;
  animation: 
    typing 4s infinite, 
    blinkBorder 1s infinite; 
  font-size: 60px;
  width: 0;
}

@keyframes typing {
  from { width: 0; }
  to { width: 72%; }
}

@keyframes blinkBorder {
  50% {
    border-color: rgb(24, 187, 237);
  }
} */
